* {
    font-family: "Overpass", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--Very-Dark-Blue, #131518);
  }
  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  main {
    width: 87%;
    padding: 24px 24px 32px;
    border-radius: 15px;
    background: var(
      --black-gradient,
      radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%)
    );
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #262e38;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .text  h1 {
    font-size: 24px;
    font-family: Overpass;
    font-weight: 700;
    height: 37px;
    color: var(--Pure-White, #fff);
  }
  
  .text p {
    font-size: 14px;
    font-family: Overpass;
    font-weight: 400;
    line-height: 22px;
    color: var(--Light-Grey, #969fad);
  }
  
  .numbers{
    display: flex;
    gap: 17px;
    margin-top: 8px;
  }
  
  .numbers .rating_numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    font-size: 14px;
    font-family: Overpass;
    font-weight: 700;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.175px;
    padding: 6% 5% 5% 5%;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
    color: var(--Medium-Gray, #7c8798);
    background: var(--Dark-Blue, #262e38);
  }
  
  .rating_numbers:hover {
    color: #ffffff;
    background: #7c8798;
  }
  
  button {
    height: 45px;
    font-size: 14px;
    font-family: Overpass;
    font-weight: 700;
    letter-spacing: 1.867px;
    border: none;
    margin-top: 8px;
    padding-top: 1%;
    border-radius: 22.5px;
    cursor: pointer;
    transition: 0.4s;
    color: var(--Pure-White, #fff);
    background: var(--Orange, #fc7614);
  }
  
  button:hover {
    color: #fc7614;
    background: #ffffff;
  }
  
  .result {
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 10px 0 13px;
  }
  
  .select {
    display: flex;
    flex-direction: column;
    gap: 29px;
  }
  
  #rating {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 168px;
    height: 32px;
    font-size: 14px;
    font-family: Overpass;
    font-weight: 400;
    line-height: 22px;
    border-radius: 22.5px;
    color: var(--Orange, #fc7614);
    background: var(--Dark-Blue, #262e38);
  }
  
  .thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .thanks h1 {
    font-size: 24px;
    font-family: Overpass;
    font-weight: 700;
    text-align: center;
    color: var(--Pure-White, #fff);
  }
  
  .thanks p {
    font-size: 14px;
    font-family: Overpass;
    font-weight: 400;
    text-align: center;
    line-height: 22px;
    color: var(--Light-Grey, #969fad);
  }
  
  @media (width >= 375px) {
    main {
      width: 327px;
    }
  }
  
  @media (width >= 1440px) {
    main {
      width: 412px;
      padding: 32px;
      border-radius: 30px;
    }
  
    .icon_cont {
      width: 48px;
      height: 48px;
    }
  
    .text_cont {
      gap: 7px;
      margin-top: 14px;
    }
  
    .text_cont > h1 {
      font-size: 28px;
      height: 43px;
    }
  
    .text_cont > p {
      font-size: 15px;
      line-height: 24px;
    }
  
    .number_cont {
      gap: 21px;
    }
  
    .number_cont > .number_item {
      width: 51px;
      height: 51px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
    }
  
    button {
      font-size: 15px;
      letter-spacing: 2px;
    }
  
    .result_cont {
      gap: 32px;
      width: 340px;
      margin: 13px 0;
    }
  
    .select_cont {
      gap: 32px;
    }
  
    #rating {
      width: 193px;
      font-size: 15px;
      line-height: 24px;
    }
  
    .appreciate_text_cont {
      gap: 7px;
    }
  
    .appreciate_text_cont > h1  {
      font-size: 28px;
    }
  
    .appreciate_text_cont > p {
      font-size: 15px;
      line-height: 24px;
    }
  }